body {
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
    display: inline;
    place-content: center;
}

header {
    background-color: #EDEFEE;
    text-align: center;
    padding: 2em;
}

main {
    background-color: #495E57;
    text-align: center;
    padding: 2em;
}

footer {
    background-color: #EDEFEE;
    text-align: center;
    padding: 2em;
}

.hero-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.footer-nav {
    width: 30%;
}